<div class="container">
<div class="row">
    <h2 class="col-12">Debts</h2>
</div>
<div class="row g-3">
    <div class="col-12">
        <div class="input-group ">
            <input type="text" class="form-control" [(ngModel)]="filter.buyerName" placeholder="Buyer's name">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="filterDebts()" type="button"><i
                        class="bi bi-send"></i></button>
            </div>
        </div>

    </div>
    <div class="col-12">

        @if(debts.length === 0) {
        <span>All debts are settled.</span>
        } @else {
        <div class="card">
            <ul class=" list-group list-group-flush">
                @for (debt of debts; track debt.ordererName) {
                <li class="list-group-item">
                    <span><i class="bi bi-person-fill"></i> {{debt.ordererName}}</span>
                    <span class="float-end text-danger"> - {{debt.amount}}<i class="bi bi-currency-dollar"></i></span>
                </li>
                }
            </ul>
        </div>

        }

    </div>
</div>
</div>